.contenedor {
  background-color: rgb(50, 64, 142); /*color del fondo*/
  width: 100%; /*el tamaño del ancho*/
  height: 50vw; /*el tamaño del largo*/
  display: flex;/**/
  justify-content: center; /*Eje X*/
  flex-direction: column;
  align-items: center;/*Eje Y*/
}
.texto {
  margin: 60px;/*tamaño del contenedor bebe respecto al grande*/
  display: flex;/**/
  color: rgb(247, 253, 254); /*modifica el color de la letra*/
  font-size: 20px; /*tamaño de la letra*/
  font-family: Arial, Helvetica, sans-serif; /*tipografia*/
  text-align: center; /*alineacion de texto*/    
  justify-content: center;/*para que este centrado*/
  background-color: rgb(117, 158, 220);/*color del contenedor chiquito*/
  flex-direction: column;/*sigue la direccion que tengamos*/
  height: 450px;
}


.input {
  margin: 5px;/* distancia entre los input osea los contenedores para escribir*/
  height: 40px;/*tamaño del teaxterra, es en donde colocamos el usuario*/
  border-radius: 5px;/*redondea los bordes*/
}
.submit{
  margin: 12px;
  width: 350px;/*LARGO DEL ENVIAR*/
  border-radius: 5px;
  height: 40px;/*ANCHO DEL ENVIAR*/

}
.tamaño {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; /*tipografia*/
}
.centrarvol{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; /*tipografia*/
  flex-direction: column;/*sigue la direccion que tengamos*/
  justify-content: center;/*para que este centrado*/
  
}