.contenedor {
  color: blue; /*modifica el color de la letra*/
  background-color: rgb(0, 0, 0); /*color del fondo*/
  font-size: 20px; /*tamaño de la letra*/
  font-family: Arial, Helvetica, sans-serif; /*tipografia*/
  text-align: left; /*alineacion de texto*/
  border: 13px solid black; /*(ancho de la linea y tipo de linea y color de linea)*/
  border-radius: 10px; /*redodnde lo bordes*/
  width: 600px; /*el tamaño del ancho*/
  /*height: 250px; /*el tamaño del largo*/
  display: flex;
  align-items: flex-start;
  
  
}

img {
  max-width: 200px;
}
.texto {
  background-color: rgb(122, 116, 116);
  border-radius: 5px;

  width: 70%;
}
